#searchbardiv {
    background-image: linear-gradient(90deg, #6e1f8a, #d00475);
    height: 4em;
    padding: auto;
    display: flex;
    align-items: center;
}

.inputbox {
    border: 1px solid black;
    border-radius: .25em;
}

.buttonstyle {
    background-color: #497086;
    color: white;
    border: 1px solid black;
    border-radius: .25em;
    width: 6em;
}

.buttonstyle:hover {
    background-color: #d00475;
    color: white;
    border: 1px solid black;
    border-radius: .25em;
    width: 6em;
}

.centerblock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    width: 50vw;
    height: auto;
}

.largertext {
    font-size: 1.25em;
}

.smallertext {
    font-size: .75em;
}

.linky {
    color: #2355df;
    cursor: pointer;
}

.header {
    font-size: 1.25em;
    text-decoration-line: underline;
}


.remittance-row {
    margin: 2em 0 2em 0;
    border-top: 2px solid;
}

.nexticon {
    width: 5em;
    cursor: pointer;
}

.previcon {
    width: 5em;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    cursor: pointer;
}